@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/variables" as *;
@use "../../../../styles/partials/responsive" as *;
.edit-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $medium-grey;
  padding: $padding-md;
  border-radius: $border-radius-md;
  border: $davy-grey $border-width solid;
  @include sm-md {
    width: $card-max-width-md;
  }
  &__heading {
    text-align: center;
    text-wrap: balance;
    text-overflow: clip;
  }
  &__inputs-container {
    display: flex;
    flex-direction: column;
    gap: $margin-sm;
    margin-bottom: $margin-sm;
  }
  &__buttons-container {
    display: flex;
    justify-content: center;
    gap: $margin-sm;
  }
}
