@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/variables" as *;

.text-input {
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__label {
    font-size: $input-label-size;
    color: $white;
    font-style: italic;
    padding-bottom: calc($border-width * 3);
    padding-left: $border-width;
  }
  &__field {
    background-color: $dark-jungle-green;
    border-radius: $border-radius-md;
    padding: $input-padding-sm;
    border: $border-width $davy-grey solid;
    min-width: $input-min-width-sm;
    &::placeholder {
      color: $davy-grey;
    }
    &:focus-within {
      border: $border-width $salmon-dark solid;
      outline: none;
    }
    &:hover {
      border: $border-width $salmon-dark solid;
      outline: none;
    }
  }
}
