@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.edit-exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: $margin-lg;
  padding: $padding-lg;
  position: relative;
  &__heading {
    text-align: center;
  }
}
