$dark-cyan-blue: #111315;
$dark-jungle-green: #1d1f24;
$baltic-sea: #292b32;
$davy-grey: #505357;
$medium-grey: #292d3e;
$white: #dcdcdc;

$sky-blue: #6498ed;
$salmon-dark: #f28e77;
$bean-red: #eb5b5b;
$purple-mimosa: #9f78f5;
$paris-green: #55d486;
