$padding-sm: 1rem;
$padding-md: 1.25rem;
$padding-lg: 1.5rem;

$margin-sm: 1rem;
$margin-md: 1.25rem;
$margin-lg: 1.5rem;

$border-width: 1px;

$border-radius-sm: 0.25rem;
$border-radius-md: 0.375rem;
$border-radius-lg: 0.75rem;
$border-radius-full: 50%;

$button-height-sm: 1.875rem;
$button-height-md: 2.5rem;
$button-height-lg: 3.75rem;

$button-min-width-sm: 6rem;
$button-min-width-md: 8rem;
$button-min-width-lg: 10rem;

$action-button-icon-diameter: 1.25rem;

$input-padding-sm: 0.75rem;
$input-border-sm: 2px;
$input-label-size: 0.75rem;

$input-min-width-sm: 14rem;
$input-min-height-sm: 1.5rem;
$input-max-width-sm: 6rem;
