@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/responsive" as *;

.workout {
  &__title {
    width: 100%;
    text-align: center;
    margin-top: $padding-sm;
  }
  &__exercise-gallery {
    gap: $margin-md;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: $margin-lg;
    place-items: center;
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include md-lg {
      grid-template-columns: repeat(3, 1fr);
    }
    @include lg {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $margin-sm;
  }
  &__timer-container {
    padding-top: $padding-sm;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc($margin-sm / 2);
  }
  &__subheading {
    color: $davy-grey;
    text-transform: uppercase;
    font-size: 1rem;
  }
}
