@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/variables" as *;

.list-element {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    background-color: $baltic-sea;
    border-radius: $border-radius-md;
    padding: $padding-md;
    border-radius: $border-radius-md;
    border: $davy-grey $border-width solid;
  }
  &__tag-container {
    display: flex;
    gap: $padding-sm;
  }
  &__set {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: calc($margin-sm/4) $margin-sm;
  }
  &__set-data {
    text-align: end;
    font-size: 0.75rem;
    &--number {
      @extend .list-element__set-data;
      padding: calc($padding-sm / 6);
      width: 2rem;
      background-color: rgba($salmon-dark, 0.25);
      color: $salmon-dark;
      text-align: center;
      border-radius: $border-radius-lg;
    }
    &--period {
      @extend .list-element__set-data;
    }
  }
}
