@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/variables" as *;

.table-row {
  background-color: $dark-jungle-green;
  text-align: center;
  min-width: $card-min-width;
  max-width: $card-max-width-sm;
  &__data {
    padding: $padding-sm 0;
  }
  &__action {
    padding: $padding-sm;
  }
}
