@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/responsive" as *;

.exercise-gallery-list {
  padding-top: $padding-sm;
  &__content {
    margin: $margin-lg;
  }
  &__heading {
    text-align: center;
  }
}
