@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/variables" as *;
@use "../../../../styles/partials/responsive" as *;
.edit-routine {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $margin-md;
  background-color: $medium-grey;
  border-radius: $border-radius-md;
  border: $davy-grey $border-width solid;
  min-width: 21rem;
  padding: $padding-sm;
  margin: $margin-lg 0;
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
  }
  &__draggable {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: $margin-md;
  }
  &__heading {
    text-align: center;
  }
}
