@use "../../../styles/partials/colors" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/responsive" as *;

.nav {
  background-color: $medium-grey;
  padding-top: $padding-sm;
  display: flex;
  flex-direction: column;
  width: 100vw;
  @include md {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $padding-sm 0;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 0 $padding-sm;
  }
  &__toggle {
    display: block;
    &:hover {
      cursor: pointer;
    }
    @include md {
      display: none;
    }
  }
  &__title {
    width: 100%;
    text-align: center;
    &--accent {
      color: $salmon-dark;
    }
    @include md {
      text-align: start;
    }
  }
  &__link {
    color: $white;
    text-decoration: none;
    &--active {
      @extend .nav__link;
      color: $salmon-dark;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include md {
      margin-right: $margin-sm;
    }
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    @include md {
      display: none;
    }
    &--desktop {
      @extend .nav__list;
      display: none;
      @include md {
        display: flex;
        gap: $margin-sm;
      }
    }
  }
  &__list-item {
    width: 100%;
    padding: $padding-sm;
    text-align: center;
    border-bottom: solid $border-width $davy-grey;
    @include md {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $border-radius-sm;
      padding: calc($padding-sm/2);
      background-color: rgba($salmon-dark, 0.05);
    }
  }
}
